*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}



main{
    padding: 5% 20% ;
}

a{
    text-decoration: none;
    color: rgb(92, 92, 213);
    font-weight: 400;
}

header{
    background-color: black;
    padding: 0 3%;
}

.icone{
    font-weight: bold;
    color: white;
}

#navbarSupportedContent > div > ul > li.nav-item.dropdown{
   display: flex;
   justify-content: flex-end;
}

#navbarSupportedContent > div > ul > li.nav-item.dropdown.boh > img{
    width: 3em;

}

#navbarSupportedContent > ul > li:nth-child(1) > a,
#navbarSupportedContent > ul > li:nth-child(2) > a,
#navbarSupportedContent > ul > li:nth-child(3) > a,
#navbarSupportedContent > ul > li:nth-child(4) > a,
#navbarSupportedContent > ul > li:nth-child(5) > a,
#navbarSupportedContent > ul > li:nth-child(6) > a,
#navbarSupportedContent > ul > li:nth-child(7) > a,
#navbarSupportedContent > ul > li:nth-child(8) > a,
#navbarSupportedContent > ul > li:nth-child(9) > a{
    color: white;
}


.margin-icon {
    margin: 2% 2% 5% 0;
}

p{
    font-weight: bold;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 1.5em;
    color: gray;
}

.paddo{
    padding: 1% 0;
}